[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest-mock = "*"
pytest-xdist = "*"
pytest-cov = "*"
flask = "*"
openai = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
alembic = "*"
requests = "*"
pytest = "*"
pandas = "*"
beautifulsoup4 = "*"
lxml = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.9"
